<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PhoneBook</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>


	<form method="post" action="findall">
		<input type="text" name="first_name" id="first_name">first name</input> <br></br>
		<input type="text" name="last_name">last name </input>  <br></br>
		<input type="text" name="phone">phone </input><br></br>
		<button type="submit" >Create entry</button>
	</form>

	<form method="post" action="findbyid">
		<input type="number" name="id" th:value="${id}"	readonly="true"></input>
		<input type="text" name="first_name" th:value="${first_name}"></input>
		<input type="text" name="last_name" th:value="${last_name}"></input>
		<input type="text" name="phone" th:value="${phone}"></input>
		<button type="submit" name="edit">edit entry</button>
		<button type="submit" name="delete">delete entry</button>
	</form>

	<form method="post" action="findbyid">
		<input type="number" name="id">get by id </input>
		<button type="submit">Find entry</button>

	</form>


	<form method="post" action="findbyfirstname">
		<input type="text" name="firstname">get by first name </input>
		<button type="submit">Find entry</button>		
	</form>

	<form method="post" action="findbylastname">
		<input type="text" name="lastname">get by last name </input>
		<button type="submit">Find entry</button>
	</form>
	<textarea rows="20" cols="100" th:text="${pb}"></textarea>
		<button class="style1" id ="chngclr" onclick="changeColor()">Change color</button>

<script type="text/javascript">

function  changeColor(){
	document.getElementById('chngclr').setAttribute("class", "style2");
	
}

</script>

</body>
</html>